<div class="header">
    <div class="logo">
       <img src="assets/thegreatbanklogo.png" alt="">
       <div class="search">
        <app-search></app-search>
    </div>
    </div>
    
    <div class="user">

        <div class="messages">
            <img src="assets/chaticon.png" alt="">
        </div>
        <div class="notifications">
            <img src="assets/bellicon.png" alt="">
        </div>

        <div class="user-image">

        </div>
        <div class="user-name">
            <h4>{{ userInfo.firstName }} {{ userInfo.lastName }}</h4>
            <p>{{ userInfo.accountNumber }}</p>
         </div>
    
    </div>
</div>

