<div class="toolbar">
    <!-- Logo on the right -->
    <div class="logo">
       <img src="assets/images/logowhite.png" alt="Logo">
     </div>

 
   <!-- Spacer to push the logo to the right -->
   <div class="spacer"></div>

   <!-- Sign-in Button on the left -->
   <button routerLink="/login" class="signin-button">Sign In</button>
   <!-- Menu Button next to the Sign-in Button -->
       <img class="menu-bars" src="assets/icons/menuwhite.png" alt="menu bars">
 </div>
 
 <!-- Optional: Dropdown menu -->
 <!-- <div class="menu" >
   <button routerLink="/item1">Menu Item 1</button>
   <button routerLink="/item2">Menu Item 2</button>
 
 </div> -->
 