<div class="nav-items">
    <div class="nav-item">
        <img src="assets/Online Banking Portal/ri_home-fill.png" alt="">
        <span>Home</span>
    </div>
    <div class="nav-item">
        <img src="assets/Online Banking Portal/clarity_wallet-line.png" alt="">
        <span>Balance</span>
    </div>
    <div class="nav-item">
        <img src="/assets/Online Banking Portal/uil_transaction.png" alt="">
        <span>Transactions</span>
    </div>
    <div class="nav-item">
        <img src="assets/Online Banking Portal/ion_card-outline.png" alt="">
        <span>Cards</span>
    </div>
    <div class="nav-item">
        <img src="assets/Online Banking Portal/material-symbols_cloud-outline.png" alt="">
        <span>Subscriptions</span>
    </div>
    <div class="nav-item">
        <img src="assets/Online Banking Portal/material-symbols_analytics-outline.png" alt="">
        <span>Analytics</span>
    </div>
    <div class="nav-item">
        <img src="assets/Online Banking Portal/solar_settings-outline.png" alt="">
        <span>Settings</span>
    </div>
    <div class="nav-item" (click)="authService.SignOut()" >
        <img src="assets/Online Banking Portal/humbleicons_logout.png" alt="">
        <span>logout</span>
    </div>
</div>
