
.nav-items{
    padding-top: 20px;
    .nav-item{
        padding: 15px 50px;
        cursor: pointer;
        display: flex;
    }
    .nav-item:hover{
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(0, 0, 0, 0.09);
        color: white;
        transition: 0.3s ease-in;
        border-radius: 4px;
    }
    .nav-item  img{
        max-width: 22px;
        margin-right: 6px;
    }
    .nav-item span{
        display: inline;
        color: black;
    } 
   
    
}