<div class="top-section">
    <app-banner></app-banner>
</div>

<div class="bottom-section">
    <div class="left">
        <div class="left-top">
                <app-available-balance class="balance"></app-available-balance>
                <app-savings class="savings"></app-savings>
        </div>
        <div class="left-bottom">
            <app-quick-transactions></app-quick-transactions>
        </div>
    </div>
    <div class="right">
        <app-recent-transactions></app-recent-transactions>
    </div>
</div>

