<!-- Landing  -->
<app-tool-bar></app-tool-bar>
<div class="landing_here">
    <div class="mainparent">
        <div class="heading">
            <h2>
                Your Gateway to Secure Financial Management.
            </h2>
            <p>
                Unlock a World of Secure, User-Friendly Financial Management.
            </p>
            <button routerLink="/signup"  class="open_acount">
                    Open Account
            </button>
        </div>
        <div class="pictureparent">
            <img class="main" src="assets/images/phonespicture.png" alt="pictures of phones">
            
        </div>
        

    </div>
        
</div>

