


<div class="quick-transactions-widget">
    <h3>Quick Transactions</h3>
    <div class="line"></div>
    
 
  


    <ul>
      <div class="transact1" (click)="openSendMoney()">
        <li><img src="assets/Online Banking Portal/uil_transaction.png" alt=""> Send Money</li>
        <img src="assets/Online Banking Portal/ion_chevron-forward-sharp.png" alt=""> 
      </div>
      <div class="transact2"   (click)="openTranferMoney()" >
        <li><img src="assets/Online Banking Portal/cil_transfer.png" alt=""> Transfer Funds</li>
        <img src="assets/Online Banking Portal/ion_chevron-forward-sharp.png" alt="">
      </div>
      <div class="transact3">
        <li><img src="assets/Online Banking Portal/mdi_recurring-payment.png" alt=""> Recurring Payments</li>
        <img src="assets/Online Banking Portal/ion_chevron-forward-sharp.png" alt="">
      </div>
      <div class="transact4" (click)="openDepositeMoney()">
        <li><img src="assets/Online Banking Portal/mdi_instant-deposit.png" alt=""> Deposit Money</li>
        <img src="assets/Online Banking Portal/ion_chevron-forward-sharp.png" alt="">
      </div>
      <div class="transact5">
        <li><img src="assets/Online Banking Portal/mingcute_bill-line.png" alt=""> Bill Payments</li>
        <img src="assets/Online Banking Portal/ion_chevron-forward-sharp.png" alt="">
      </div>
      <div class="transact6">
        <li><img src="assets/Online Banking Portal/clarity_wallet-line.png" alt=""> Budgeting tools</li>
        <img src="assets/Online Banking Portal/ion_chevron-forward-sharp.png" alt="">
      </div>    

      <div *ngIf="isSendMoney" class="popout">
          <span (click)="closeSendMoney()" class="close-button">X</span>
          <div class="content">
              <!-- Your content here -->
               <p>send money</p>
          </div>
      </div>

      <div *ngIf="isTranferMoney" class="popout">
          <span (click)="closeTranferMoney" class="close-button">X</span>
          <div class="content">
              <!-- Your content here -->
              <app-deposit-money></app-deposit-money>
          </div>
      </div>

      <div *ngIf="isDepositMoney" class="popout">
        <span (click)="closeDepositMoney()" class="close-button">X</span>
        <div class="content">
            <!-- Your content here -->
            <app-deposit-money></app-deposit-money>
        </div>
    </div>


     
    </ul>
  </div>

