*{
    background-color: white;
  }
  .div1 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 40%;
    }
    .div2 {
      position: absolute;
      top: 0;
      left: 35%;
      bottom: 0;
      width: 60%;
    }